@import url('https://fonts.googleapis.com/css?family=Roboto');

.gray-bg
{
    background-color: #f5f5f5 !important;
}
.nav-header
{
    text-align: center;
    color: white !important;
}
.navbar-default 
{
    background-color: #4dc8e9 !important;
    color: white;
}
.sidebar-active
{
	background-color: #40b3d2 !important;
  border-left: 5px solid #00e6e6;
}
#wrapper
{
    background-color: #4dc8e9;
}
.navbar-fixed-top, .navbar-static-top {
    background: #363f45;
    color: white;
}
.nav > li > a {
    
}
.nav > li.active 
{
    
}
.logo-header
{
    width: 100%;
    background-color: white;
    text-align: center;
    border-right: 1px solid black !important;
    padding-top: 1em;
    padding-bottom: 0.4em;
}
.btn-follow
{
    border-radius: 20px;
    padding:5px 30px;
    border:1px solid white;
    background-color: #4dc8e9;
}

.white-bg {
    background-color: #f5f5f5;
}
.breadcrumb {
    background-color: #e6e5e5;
}
.tag-btn
{
    background-color: white;
    color:black;
    border:2px solid #69c2fb;
    border-radius: 20px;
    padding: 7px 2em;
    font-size: 14px;
}
.green-btn
{
    background-color: #7dc705;
    border: none;
    border-radius: 5px;
}
.panel-default>.green-heading {
    color: rgb(243, 240, 240);
    background-color: #7dc705;
    border-radius: 0px;
    border-color: #69c2fb;
}
.panel-default>.blue-heading {
    color: rgb(243, 240, 240);
    background-color: #69c2fb;
    border-radius: 0px;
    border-color: #69c2fb;
}
.panel-default
{
    border-radius: 0px;
}
.search-form
{
    text-align: center;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus
{
    padding: 1em 2em 1em 2em;
    background: white !important;
    border-bottom:none;
    color: #69c2fb;
    
}
.nav-tabs > li > a {
    padding: 10px 27px 24px 32px;
    color: black;
}
.settings
{
    margin-top:55em;
    padding:0px 1.5em 0px 1.5em
}
