@media only screen and (max-width : 1200px) 
{   
    .nav-tabs > li > a {
        padding: 10px 27px 24px 32px;
        color: black;
    }
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) 
{
    .create-date
    {
        margin:1.5em 0em 0em 6em;
    }
    .green-btn
    {
        margin-top: 1em
    }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) 
{
    .welcom-logo {
        display: inline-block;
    }
    
    .navbar-top-links {
        display: inline-block;
    }
    .settings
    {
        padding:0px 1.5em 0px 1.9em
    }
    .fa-power-off
    {
        margin-top: 0.5em;
    }
}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) 
{
    .tag-btn
    {
        padding: 5px 0.5em;
        font-size: 12px;
    }
    .create-date
    {
        margin:1.5em 0em 0em 0em;
    }
}

/* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px) 
{

}

@media only screen and (min-width : 479px) 
{
}

@media only screen and (min-width : 767px) 
{
}